/* General Styles for Hero Section */
.hero-section {
    background-color: #1f2937;
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    padding: 2rem;
}

#HeroImg {
    transition: box-shadow 0.5s ease;
    position: relative;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.5);
    border-radius: 100%; /* Make the image circular */
    width: 70%;
    height: auto;
}

.typing-effect::after {
    content: '|';
    animation: blink 1s infinite;
    width: 0.2em; /* Adjust the width of the cursor here */
}

@keyframes blink {
    0% { opacity: 2; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }
}

.text-center {
    text-align: center;
}

@media (min-width: 768px) {
    .text-left-md {
        text-align: left;
    }
}

.mb-8 {
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .mb-0-md {
        margin-bottom: 0;
    }
}

#heading1 {
    font-size: 30px;
    line-height: 1.1;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    margin-top: 0rem;
}

@media (min-width: 640px) {
    #heading1 {
        font-size: 3rem;
        margin-top: 2rem;
    }
}

@media (min-width: 768px) {
    #heading1 {
        font-size: 4rem;
        margin-top: 6rem;
    }
}

@media (max-width: 768px) {
    .md\:w-1 {
        width: 100%;
    }

    #heading1 {
        font-size: 30px;
        line-height: 1.1;
        margin-top: 2rem;
        margin-bottom: 1rem;
        padding: 0;
    }

    #HeroImg {
        width: 50%;

        border-radius: 40%;
        margin-top: 6rem;
        margin-bottom: 2rem;
    }

    .text-lg {
        font-size: 1rem;
        padding: 0 1rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .md\:w-1\/2 {
        width: 50%;
    }

    #HeroImg {
        max-width: 100%;
        margin-top: 6.4rem;
        border-radius: 15px;
    }

    .container {
        padding: 0 2rem;
    }

    #heading1 {
        font-size: 2.5rem;
        margin-top: 3rem;
    }
}

@media (min-width: 1025px) {
    .container {
        padding: 0 4rem;
    }

    #heading1 {
        font-size: 2.5rem;
        margin-top: 0rem;
        margin-left: 5rem;
    }

    .text-lg {
        font-size: 1.75rem;
    }

    #HeroImg {
        max-width: 60%;
        height: auto;
        margin-top: 5rem;
        border-radius: 15px;
    }
}

.bg-radial-gradient {
    background: radial-gradient(circle, #111827 10%, rgba(0, 0, 0, 0.9) 100%);
}
