/* General Styles for Hero Section */
.hero-section {
    background-color: #1f2937;
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    padding: 2rem;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }
}

.text-center {
    text-align: center;
}

@media (min-width: 768px) {
    .text-left-md {
        text-align: left;
    }
}

.mb-8 {
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .mb-0-md {
        margin-bottom: 0;
    }
}

#heading1 {
    font-size: 30px;
    line-height: 1.1;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    margin-top: 3rem;
}

.text-lg {
    font-size: 15px;
}

@media (min-width: 640px) {
    #heading1 {
        font-size: 3rem;
        margin-top: 2rem;
    }

    .text-lg {
        font-size: 1.25rem;
    }
}

@media (min-width: 768px) {
    #heading1 {
        font-size: 4rem;
        margin-top: 6rem;
    }

    .text-lg {
        font-size: 1.5rem;
    }
}

.max-w-md {
    max-width: 28rem;
}

.mt-4 {
    margin-top: 1rem;
}

.md\:mx-0 {
    margin-left: 0;
    margin-right: 0;
}

/* Media queries for Hero Section */
@media (max-width: 768px) {
    .md\:w-1 {
        width: 100%;
    }

    #heading1 {
        font-size: 30px;
        line-height: 1.1;
        margin-top: 7rem;
        padding: 0;
    }

    #HeroImg {
        width: 100%;
        height: auto;
        border-radius: 15px;
    }

    .text-lg {
        font-size: 1rem;
        padding: 0 1rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .md\:w-1\/2 {
        width: 50%;
    }

    #HeroImg {
        max-width: 100%;
        height: auto;
        border-radius: 30px;
    }

    .container {
        padding: 0 2rem;
    }

    #heading1 {
        font-size: 3.5rem;
        margin-top: 2rem;
    }
}

/* Larger screens adjustments */
@media (min-width: 1025px) {
    .container {
        padding: 0 3rem;
    }

    #heading1 {
        font-size: 4.5rem;
        margin-top: 4rem;
    }

    .text-lg {
        font-size: 1.75rem;
    }

    #HeroImg {
        max-width: 100%;
        height: auto;
    }
}

@keyframes sketch {
    0% {
      transform: scale(1) rotateY(0deg) perspective(500px);
    }
    50% {
      transform: scale(1.02) rotateY(2deg) perspective(500px);
    }
    100% {
      transform: scale(1) rotateY(-2deg) perspective(500px);
    }
}

.sketch-animation {
    animation: sketch 1s ease-in-out infinite alternate;
}

.bg-radial-gradient {
    background: radial-gradient(circle, #111827 10%, rgba(0,0,0,0.9) 100%);
}
