#socialHandle .flex {
  position: relative;
  overflow: hidden;
}

#socialHandle {
  background-color: #e6bf14;
}

#socialHandle .flex:hover svg,
#socialHandle .flex:hover a {
  color: white;
  fill: white;
  transition: color 0.6s ease, fill 0.6s ease;
}

#socialHandle .flex:hover svg {
  transform: translateY(-5%);
}

#socialHandle .flex:hover {
  background-color: black;
  transition: background-color 0.6s ease, transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: scale(1.05);
}

#socialHandle svg {
  padding-right: 2px;
  padding-left: 2px;
}

#socialHandle {
  z-index: 1;
}





@media screen and (max-width: 768px) {
  #cv-btn {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  #nav {
    /* background-color: ; */
    backdrop-filter: blur(25px);
    color: #ffff;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    padding-top: 0.5rem;
  }
  
  @keyframes slideDown {
    0% {
      max-height: 0;
    }
    100% {
      max-height: 1000px;
    }
  }

  #menu-div {
    overflow: hidden;
    animation: slideDown 0.9s ease forwards;
    height: 100vh;
    padding-top: 100px;
    font-size: 23px;
  }

  #socialHandle {
    z-index: 1;
  }
  #pro {
    margin-left: 10px;
    margin-right: 10px;
  }

  .text-lg {
    font-size: 1rem;
    padding: 0px;
  }
}

@media screen and (max-width: 576px) {
  #cv-btn {
    margin-bottom: 10px;
  }
  #nav {
    /* background-color: #111827; */
    backdrop-filter: blur(25px);
    color: #ffff;
    padding-right: 1.1rem;
    padding-top: 0.5rem;
  }
  @keyframes slideDown {
    0% {
      max-height: 0;
    }
    100% {
      max-height: 1000px;
    }
  }

  #menu-div {
    overflow: hidden;
    animation: slideDown 0.9s ease forwards;
  }
  #pro {
    margin-left: 4px;
    margin-right: 10px;
  }
}
