@media screen and (max-width: 768px) {
    /* Styles for mobile devices */
    .grid-cols-1 {
      grid-template-columns: 1fr; /* Ensures single column layout on small screens */
    }

    #Aboutme {
        font-size: 35px;
        margin-bottom: 30px;
    }

    #aboutmeImag{
        max-width: 80%;
        margin-bottom: 30px;
    }
  }
  
  @media screen and (min-width: 768px) {
    /* Styles for desktop devices */
    .grid-cols-1 {
      grid-template-columns: 1fr 1fr; /* Two columns layout on larger screens */
    }
  }
  