/* cursor.css */
.cursor {
    position: fixed;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white; /* Default cursor color */
    pointer-events: none;
    transition: width 0.3s, height 0.3s, transform 0.3s, background-color 0.3s; /* Add background-color transition */
    z-index: 100;
  }
  
  /* Add a hover effect */
  .cursor:hover {
    transform: scale(1.2);
  }
  
  /* Custom class for cursor on links */
  .link-grow {
    transform: scale(1.5);
  }
  
  /* Cursor color change when hovering over black text */
  .black-text:hover {
    cursor: pointer;
  }
  
  .black-text:hover .cursor {
    background-color: black; /* Change cursor color to black when hovering over black text */
  }
  